section(class="item" id="contact")
    div(class="container")
        div(class="rows")
            div(class="col-md-12 col-xs-12")
                h2 Kontakt    
                div(class="text")
                    p Gutachteroffice Alexander Müller
                    p Hofer Str. 11
                    p 04317 Leipzig
                    p E-Mail: gutachteroffice@mängel-gutachter.de 
                    p Tel. 01578 194 00 00
    div(id="map")
