footer
    div(class="row")
        a(href="https://facebook.com" class="btn-social btn-outline")
            i(class="fa fa-fw fa-linkedin")
        a(href="https://facebook.com" class="btn-social btn-outline")
            i(class="fa fa-fw fa-facebook")
        div(class="copyright text-muted small") 
            a(href="#" id="impressumBtn") Impressum 
            p Copyright &copy; Andrian Kobevko 2016. All Rights Reserved       