nav(class="navbar navbar-custom navbar-fixed-top" role="navigation")
    div(class="container")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse")
                i(class="fa fa-bars")
            a(class="page-scroll navbar-brand" href="#page_top" class="navbar-a") utachteroffice
                img(src="img/logo.png" id="logo")                
        div(class="collapse navbar-collapse navbar-right navbar-main-collapse" id="navbar")
            ul(class="nav navbar-nav"  id="navbar")
                li
                    a(href="#profil" class="page-scroll") Profil
                li
                    a(href="#spektrum" class="page-scroll") Leistungsspektrum
                li 
                    a(href="#referenzen" class="page-scroll") Referenzen
                li
                    a(href="#contact" class="page-scroll") Kontakt