section(class="item" id="profil")
    //- hr(class="item-divider")
    div(class="container")
        div(class="rows")
            div(class="col-md-8 col-xs-12")
                h2 Profil
                div(class="text")
                    p Das gemütliche und wohltuende Wohnambiente ist das Ziel meiner Tätigkeit. Für Begutachtung im Bereich Holzschutz, Schimmelbefall, Möbel, Fenster, Türen und Fußboden bringe ich stets mein Wissen, Fachkompetenzen und Erfahrungen gründlich zum Einsatz. 
                    p Bei Problemen mit Schimmel oder Ungeziefer, mit den Fenstern, Türen oder Fußboden sowie bei unterschiedlichsten Problemen mit Möbeln kontaktieren Sie mich per E-Mail oder telefonisch. Zögern kostet Ihnen mehr Ärger.
                    p Deutschlandweit stehe ich Privatpersonen, Versicherungen und Gewerbebetrieben zur Verfügung. Alle Aufträge erledige ich unabhängig, lösungsorientiert, ordnungsgemäß,  zuverlässig und schnell.  
                    
                    p Serviceleistungen werden auch auf Englisch, Polnisch, Russisch und Ukrainisch angeboten. 
                    p We also offer our services in English. Please contact us via e-mail.
                    p Oferujemy nasze usługi w języku polskim. Prosimy o kontakt drogą mailową.
                    p Предлагаем наши услуги на русском языке. Обращайтесь к нам по электронной почте.
                    p Надаємо послуги українською мовою. Просимо писати на електонну пошту.
