section(class="item" id="spektrum")
    div(class="container")
        div(class="rows")
            div(class="col-md-8 col-xs-12")
                h2 Leistungsspektrum
                div(class="text")
                    p Mein Fokus liegt auf der genauen und sorgfältigen Auseinandersetzung mit Ihrem Problem. Alle relevanten Daten werden schriftlich sowie digital aufgenommen und zeitnah in Form eines Berichtes (Gutachtens) verfasst. Es werden die aktuellen rechtlichen Grundlagen und Voraussetzungen berücksichtigt. 
                    p Folgende Bereiche werden geprüft und begutachtet:
                    ul 
                      li <b>Schimmel</b> an allen Holzflächen (Fenstern, Türen, Fußboden, Holzdecken, Möbeln) 
                      li <b>Schimmel</b> an den Wänden
                      li Aufnahme und Dokumentation von <b>Einbruchschäden</b> 
                      li Aufnahme und Dokumentation von <b>Transportschäden</b> an Möbeln 
                      li <b>Ungezieferbefall</b> an allen Holzflächen und Möbeln
                      li Beschädigungen und Mängel bei <b>Türen</b> und <b>Fenstern</b>
                      li Beschädigungen und Mängel bei <b>Fußbodenverlegung</b> 
                      li Beschädigungen und Mängel unbekannter Herkunft 
                      li Unstimmigkeiten und Probleme bei Einbau und Umbau von <b>Küchen</b> und <b>Möbeln</b> 
                    br
                    p <b><u>Spezielle Serviceangebote:</u></b>
                    ul
                      li Begutachtung bei Wohnungsübergabe (Ein- und Auszug) im ganzen Wohnbereich 
                      li <b>Kautionsgutachten</b> 
                      li Beratung und Gutachten <u><b>online</b></u>:
                    br
                    div(class="PayPal") Bitte beschreiben Sie Ihr Problem im Wohnbereich und schicken Sie bitte zusammen mit relevanten Fotos an unsere E-Mail zu. Überweisen Sie bitte den Betrag (gerne auch per PayPal) – 50 € (inkl. USt 19%). Nach dem Eingang des Betrages werden Ihre Daten bearbeitet und Sie erhalten zeitnah eine schriftliche Begutachtung. 
