section(class="item" id="spektrum")
    div(class="container")
        div(class="rows")
            div(class="col-md-8 col-xs-12")
                h2 Leistungsspektrum
                div(class="text")
                    p Mein Fokus liegt auf der genauen und sorgfältigen Auseinandersetzung mit Ihrem Problem. Alle relevanten Daten werden schriftlich sowie digital aufgenommen und zeitnah in Form eines Berichtes (Gutachtens) verfasst. Es werden die aktuellen rechtlichen Grundlagen und Voraussetzungen berücksichtigt. 
                    p Folgende Bereiche werden geprüft und begutachtet: 
                    p <b>Schimmel</b> an allen Holzflächen (Fenstern, Türen, Fußboden, Holzdecken, Möbeln) 
                    p <b>Schimmel</b> an den Wänden
                    p Aufnahme und Dokumentation von <b>Einbruchsschäden</b> 
                    p Aufnahme und Dokumentation von <b>Transportschäden</b> an Möbeln 
                    p <b>Ungezieferbefall</b> an allen Holzflächen und Möbeln
                    p Beschädigungen und Mängel bei <b>Türen</b> und <b>Fenstern</b>
                    p Beschädigungen und Mängel bei <b>Fußbodenverlegung</b> 
                    p Beschädigungen und Mängel unbekannter Herkunft 
                    p Unstimmigkeiten und Probleme bei Einbau und Umbau von <b>Küchen</b> und <b>Möbeln</b> 
                    br
                    p <b><u>Spezielle Serviceangebote:</u></b> 
                    p Begutachtung bei Wohnungsübergabe (Ein- und Auszug) im ganzen Wohnbereich 
                    p <b>Kautionsgutachten</b> 
                    p Beratung und Gutachten <u><b>online</b></u>:
                    br
                    p Bitte beschreiben Sie Ihr Problem im Wohnbereich und schicken Sie bitte zusammen mit relevanten Fotos an unsere E-Mail zu. Überweisen Sie bitte den Betrag (gerne auch per PayPal [Hier ein Zeichen für PayPal]) – 50 € (inkl. USt 19%). Nach der Eingang des Betrages werden Ihre Daten bearbeitet und Sie erhalten zeitnah eine schriftliche Begutachtung. 



            div(class="col-md-4 col-xs-12")