section(class="item" id="spektrum")
    div(class="container")
        div(class="rows")
            div(class="col-md-8 col-xs-12")
                h2 Leistungsspektrum
                div(class="text")
                    p Mein Fokus liegt auf der genauen und sorgfältigen Auseinandersetzung mit Ihrem Problem. Alle relevanten Daten werden schriftlich sowie digital aufgenommen und zeitnah in Form eines Berichtes (Gutachtens) verfasst. Es werden die aktuellen rechtlichen Grundlagen und Voraussetzungen berücksichtigt. 
                    p Folgende Bereiche werden geprüft und begutachtet: 
                    ul
                        li Schimmel an allen Holzflächen (Fenster, Türen, Fußboden, Holzdecken, Möbel) 
                        li Schimmel an den Wänden
                        li Aufnahme und Dokumentation von Einbruchsschäden 
                        li Aufnahme und Dokumentation von Transportschäden an Möbeln 
                        li Ungezieferbefall an allen Holzflächen und Möbeln
                        li Beschädigungen und Mängel bei Türen und Fenstern
                        li Unstimmigkeiten und Probleme bei Einbau und Umbau von Küchen und Möbeln 
                        li Beschädigungen und Mängel bei Fußbodenverlegung 
                        li Beschädigungen und Mängel unbekannter Herkunft 
                    p Spezielle Serviceangebote: 
                    ul
                        li Begutachtung bei Wohnungsübergabe (Ein- und Auszug) im ganzen Wohnbereich 
                        li Kautionsgutachten 
            div(class="col-md-4 col-xs-12")