footer
    background-color: rgb(6,21,57)
    padding-top:30px
    overflow: hidden
    text-align: center
    color: white
    .btn-social
        color: white
        font-size: 20px

    i
        margin-bottom: 10px
    p
      color: rgb(21,184,229)
    a
      color:white
      &:hover
        color: white
        text-decoration: underline;
