// header
.header-image
    display block
    width 100%
    text-align center
    background url('../img/header.jpg') no-repeat center center scroll
    background-size(cover)
.headline
    h1 
        font-size 120px
        background #fff
        background rgba(255,255,255,0.9)
    h2
        font-size 60px
        background #fff
        background rgba(255,255,255,0.9)

@media(max-width:1200px)
    .headline 
        h1
            font-size: 130px
        h2
            font-size: 65px
@media(max-width:991px)
    .headline 
        h1
            font-size: 100px
        h2
            font-size: 50px
@media(max-width:668px)
    .headline 
        h1
            font-size: 70px
        h2
            font-size: 32px
@media(max-width:640px)
    .headline 
        h1
            font-size: 60px
        h2
            font-size: 30px