// header
.header-image
    display block
    text-align center
    margin-top 50px
    height: 550px
    background url('../img/header.jpg') no-repeat center center scroll
    -webkit-background-size cover
    -moz-background-size cover
    background-size cover
    -o-background-size cover  
    display: flex
    display: -webkit-flex
    justify-content: center
    -webkit-justify-content:center
    align-items: center
    -webkit-align-items: center

.headline
    color: white
    h1 
        font-size 120px
        background #fff
        background rgba(255,255,255,0.1)
    h2
        font-size 60px
        background #fff
        background rgba(255,255,255,0.1)

@media(max-width:1200px)
    .header-image
        height: 500px
    .headline 
        h1
            font-size: 100px
        h2
            font-size: 65px
@media(max-width:991px)
    .header-image
        height: 400px
    .headline 
        h1
            font-size: 70px
        h2
            font-size: 50px
@media(max-width:668px)
    .headline 
        h1
            font-size: 70px
        h2
            font-size: 32px
@media(max-width:640px)
    .header-image
        height: 300px
    .headline 
        h1
            font-size: 40px
        h2
            font-size: 30px