button
    color:black
.active
    background-color: lightness(rgb(6,21,57),20%)
.navbar-custom
    outline none
    background-color: rgb(6,21,57)
    margin-bottom: 0
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    text-transform: uppercase
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif
    .navbar-toggle
        color: white
        font-size: 12px
        &:focus,
        &:active
            outline: none
    .navbar-brand
        font-weight: 700  
        &:focus
            outline: none
    a
        color: white 
    .nav
        li
            a
                -webkit-transition: background .3s ease-in-out
                -moz-transition: background .3s ease-in-out
                transition: background .3s ease-in-out  
                &:hover
                    color:white
                    outline: none
                    background-color: rgba(255,255,255,0.5) 
                &:focus,&:active 
                    outline: none
                    background-color: transparent
            .active
                outline: none
                a
                    background-color: rgba(black, 0.3)
                    &:hover 
                        color: black
    @media(max-width:991px)
        .navbar-brand
            font-weight: 500
        
    
