doctype html
html(lang="de" xml:lang="de")
    head
      meta(charset="UTF-8")  
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="description" content="gutachteroffice Alexander Müller")
      meta(name="keywords" content="gutachter,möbel,schimmel, gutachten,transportschaden,mängelgutachten")
      title Gutachteroffice Alexander Müller
      link(href="css/style.css", rel="stylesheet")
      link(rel="icon" type="image/png" href="/img/logo.png")

body
    div(id="page_top")
    include ./includes/impressum.jade
    include ./includes/navbar.jade
    include ./includes/header.jade
    include ./includes/profil.jade
    include ./includes/spektrum.jade
    include ./includes/referenzen.jade
    include ./includes/contact.jade
    include ./includes/footer.jade
    script(src="js/vendor.js")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr8eygx3-7eY70blKgxlJ1YzcnbVGYCkE&callback=init")
    script(src="js/index.js")
    
